<div class="row">
  <div class="small-6 columns">
    <h3>Ruby Code</h3>
    {{code-editor code=code}}
    <button {{action 'run'}}>Run</button>
  </div>
  <div class="small-6 columns">
    <h3>Output</h3>
    <div class="panel">
      <pre>{{output}}</pre>
    </div>
  </div>
</div>
